body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    max-width: 100%;
    overflow-x: hidden;
    font-size: calc(16px + 0.390625vw);
}

body::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  body::-webkit-scrollbar-track {
    background: var(--bg-primary)
  }
  
  body::-webkit-scrollbar-thumb {
    background:var(--bg-secondary);
  }
.white-content {
    --text-primary: whitesmoke;
    --text-secondary: rgb(202,222,231);
    --text-accent: rgb(77,94,109);
    --bg-primary: #393c3e;
    --bg-secondary: darkgrey;
    --bg-widgets: grey;
    --bg-hover: rgb(33,105,146);
    --bg-list: beige;
    --border-col: lightgrey;
  }
  
:root {
    font-size: calc(16px + 0.390625vw);
    --text-primary: whitesmoke;
    --text-secondary: rgb(202,222,231);
    --text-accent: rgb(77,94,109);
    --bg-primary: #f2f7fc;
    --bg-secondary: rgb(0,92,136);
    --bg-widgets: white;
    --bg-hover: rgb(33,105,146);
    --bg-list: beige;
    --border-col: rgb(232,236,243);
    --navbar-size: 4em;
    --topbar-size: 2.5em;
    --margin-size: calc(8px + 1.5625vw);
    --padding-size: calc(8px + 1.5625vw);
    --leftmargin-size: calc(3.5rem + 1.5625vw);
    --borderradius: 10px;
}
