.container {
  margin-top: var(--topbar-size);
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  margin-right: var(--margin-size);
  margin-bottom: var(--margin-size);
  height: 90vh;
}
.dateandcountry {
  position: absolute;
  margin-left: var(--leftmargin-size);
}

.main {
  border: 2px solid var(--border-col);
  border-radius: var(--borderradius);
  margin-left: var(--leftmargin-size);
  margin-top: var(--margin-size);
  padding: var(--padding-size);
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--text-accent);
  background-color: var(--bg-widgets);
  width: 33%;
  margin-bottom: var(--margin-size);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  height: 90%;
}
.charttitle {
  font-size: 1rem;
  color: var(--text-accent);
  margin-bottom: 20px;
  border-bottom: 2px solid lightgrey;
}

.chartcont {
  width: 100%;
  height: 100%;
}
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--margin-size);
  color: var(--text-accent);
  background-color: var(--bg-primary);
  width: 33%;
}

.carbonint {
  border: 2px solid var(--border-col);
  border-radius: var(--borderradius);
  margin: 0px;
  background-color: var(--bg-widgets);
  width: 100%;
  height: 5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.carbdate {
  margin-top: 20px;
  font-size: 1rem;
  padding-left: calc(3 * var(--margin-size));
  padding-right: calc(3 * var(--margin-size));
  border-bottom: 2px solid lightgrey;
}

.wrapcarb {
  display: flex;
  flex-direction: row;
}
.carbvalue {
  font-size: 2rem;
}

.icon {
  position: relative;
  top: 10px;
  font-size: 20px;
}
.carbvalue::after {
  content: "";
}
.carbonunit {
  font-size: 1rem;
  margin-bottom: var(--margin-size);
}
.containerslot {
  border: 2px solid var(--border-col);
  border-radius: var(--borderradius);
  margin: var(--margin-size);
  background-color: var(--bg-widgets);
  width: 100%;
  height: 3rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
}

.slottitle {
  font-size: 1rem;
  border-bottom: 2px solid lightgrey;
  padding-left: calc(2.5 * var(--margin-size));
  padding-right: calc(2.5 * var(--margin-size));
  margin-top: var(--margin-size)
}
.countrydate {
  display: none;
}
.caption {
  color: var(--text-accent);
  background-color: aqua;
}

.slothours {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 10px;
}
.elecsharetitle {
  font-size: 1rem;
  margin-bottom: 0px;
}
.rescontainer {
  display: flex;
  padding-left: var(--margin-size);
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.piecontainer {
  width: 100%;
  height: 100%;
}

.forecastsection {
  color: var(--text-accent);
  height: 90%;
}

.forecastcontainer {
  margin: var(--margin-size);
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--text-accent);
  width: 33%;
  height: 90%;
}
.forecastday {
  background-color: var(--bg-widgets);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: var(--borderradius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
}

.forecasttitle {
  padding-left: calc(3 * var(--margin-size));
  padding-right: calc(3 * var(--margin-size));
  font-size: 1rem;
  margin-top: calc(0.7*var(--margin-size));
  border-bottom: 2px solid lightgrey;
}

.forecasthours {
  font-size: 2rem;
  margin-bottom: var(--margin-size);
}

.chartvalue {
  text-align: center;
  border: 3px solid green;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 3rem;
    position: relative;
  }

  .countrydate {
    border: 2px solid var(--border-col);
    border-radius: var(--borderradius);
    margin: var(--margin-size);
    margin-right: 20px;
    margin-bottom: 0px;
    background-color: var(--bg-widgets);
    height: 5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: var(--borderradius);
    color: var(--text-accent);
  }

  .countrytitle {
    font-size: 1.3rem;
  }

  .flagicon {
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  .main {
    margin-left: var(--margin-size);
    margin-right: var(--margin-size);
    width: 85vw;
    order: 3;
  }
  .chartcont {
    width: 85vw;
    height: 300px;
  }

  .piecontainer {
    width: 85vw;
    height: 300px;
  }
  .widget {
    width: 92vw;
    order: 1;
  }
  .forecastcontainer {
    margin-left: var(--margin-size);
    width: 92vw;
    order: 2;
  }
  .rescontainer {
    display: flex;
    padding-left: var(--margin-size);
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 92vw;
  }
  .slottitle {
    margin-top: var(--margin-size);
  }
}
